[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = ">=1.0.31"
flask-script = "*"
requests = "*"
gunicorn = "*"
attrs = "*"
thoth-common = "*"
thoth-storages = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pydocstyle = "*"
pylint = "*"
coala = "*"
pycodestylebear = "*"
yamllintbear = "*"
pydocstylebear = "*"
