[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
connexion = {extras = ["swagger-ui"],version = "<2.0.1"}
flask-script = "*"
gunicorn = "*"
prometheus-client = "*"
prometheus-flask-exporter = "*"
requests = "*"
thoth-analyzer = "*"
thoth-common = {extras = ["openshift"],version = "*"}
thoth-python = "*"
thoth-storages = "*"
openapi-spec-validator = "<=0.2.4"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
