[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = ">=1.0.31"
flask-script = "*"
requests = "*"
gunicorn = "*"
thoth-common = {extras = ["openshift"], version = "*"}
thoth-storages = "*"
thoth-analyzer = "*"

[dev-packages]
pytest = "*"
